@import "reset.less";

.generator {
    section {
        display: none;
    }
    
    &.intro {
        section.welcome {
            display: block;
        }
    }
    
    &.filter {
        section.filter {
            display: block;
        }
    }
    
    &.results {
        section.results {
            display: block;
        }
    }
    
    &.about {
        section.about {
            display: block;
        }
    }
}