@import "reset.less";

.generator {
    @expanded-nav-height: 45vh;
    @compact-nav-height: 15vh;
    
    box-sizing: border-box;
    height: 100vh;
    
    section {
        display: none;
        height: 100vh - @compact-nav-height;
        overflow: auto;
    }
    
    &.intro {
        padding-bottom: @expanded-nav-height;
        
        section.welcome {
            display: block;
            height: 100vh - @expanded-nav-height;
        }
    }
    
    &.filter {
        section.filter {
            display: block;
        }
    }
    
    &.results {
        section.results {
            display: block;
        }
    }
    
    &.about {
        section.about {
            display: block;
        }
    }
    
    nav {
        position: fixed;
        bottom: 0;
        left: 0;
        
        box-sizing: border-box;
        width: 100%;
        height: @compact-nav-height;
        
        padding: 1vh;
        
        display: flex;
        flex-flow: row wrap;
        
        button {
            flex-grow: 3;
        }
        
        button.show-about {
            flex-grow: 1;
        }
        
        button + button {
            margin-left: 1vh;
        }
        
        &.expanded {
            height: @expanded-nav-height;
            
            button.smash {
                height: 65%;
                margin-bottom: 1vh;
                flex: 1 100%;
            }
            
            button.show-filter {
                height: 33%;
                margin-left: 0;
                flex-grow: 4;
            }
            
            button.show-about {
                height: 33%;
                flex-grow: 1;
            }
        }
        
        &.filter {
            button.show-filter {
                display: none;
            }
        }
    }
}